body{
	
}
.box{
	
	margin: 2%;
}
.select {
    width: 150px;
	border-radius: 5px;
	background-colour : #cc6699;
	border-width: 1px;

}


.select:focus{
	border-color: #3399ff;
	border-width: 1px;
}


#color,#colormain,#dropdown-content-color{

	height: 11px;
	width: 11px;
	
	border-radius: 50%;
	display: inline-block;
}
#selected{
	margin: 2px;
}

.dropdown div:hover {
	background-color: #ddd;
}

.dropdown-content{
  display: none;
  position: absolute;
  border-radius: 4px;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropbtn {
  background-color: #ffffff;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.dropbtn:hover, .dropbtn:focus {
  border-color: #3399ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown a:hover {background-color: #ddd;}
.show {display: block;}
</style>