body{
	
}
.box{
	
	margin: 2%;
}
.select {
    width: 150px;
	border-radius: 5px;
	background-colour : #cc6699;
	border-width: 1px;

}

.select:hover {
    width: 150px;
	border-radius: 5px;
	background-colour : #f0f0f5;
	border-color: #3399ff;
	border-width: 1px;
}
.select:focus{
	border-color: #3399ff;
	border-width: 1px;
}
.maindic .select option:checked{
	background-color: #f0f0f5;
}
option:checked, option:hover {
    color: white;
    background:  #f0f0f5;
}
#color{

	height: 11px;
	width: 11px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
#selected{
	margin: 2px;
}

p{
	margin: 2px;
}
.dropdown p:hover {
	background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

}
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn {
  background-color: #ffffff;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.dropbtn:hover, .dropbtn:focus {
  border-color: : #3399ff;
}

.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}
</style>